*{
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
}

body{
    /* background-color: rgb(141, 141, 141); */
    /*  */
    background-image: linear-gradient(to right, rgb(48, 48, 48),grey,rgb(48, 48, 48));
    max-width: 100%;
    overflow-x: hidden;
}

.barraProductos{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.orden{
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filtros{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
}

.tiendaOscura { 
    transition: all 1s;
}

.darkMode,.tiendaOscura div .producto{
    background-color:rgb(0, 0, 0) !important;
    border-radius: 5px black !important;
}

.tiendaOscura .add-carrito{
    background-color: rgb(244, 183, 64);;
    border-radius: 5px;
}
.tiendaOscura .producto .add-carrito h4{
    color: black !important;
    transition: all 1s;
}

.darkMode h1, .yellow, .darkMode li, .darkMode h2, .darkMode p, .tiendaOscura .producto h3, .tiendaOscura .producto h4, .tiendaOscura .centrado{
    transition: all 1s;
    color:rgb(244, 183, 64) !important;
}

.darkModeText{
    color: rgb(172, 167, 167) ;
}

.darkBackground{
    background-image: linear-gradient(rgb(24, 23, 23),rgb(37, 37, 37),rgb(24, 23, 23));
    transition:all 1s;
}
.tiendaOscura .fondoAmarillo{
    background-color: rgba(0, 0, 0, 0) !important;
}

.fieldset-container{
    width: 33%;
}

/* .fondoAmarillo{
    background-color: rgb(244, 183, 64);
    border-radius: 5px;
    padding: 10px 5px;
    transition: all 1s;
}
 */

select{
    width: 200px !important;
    height: 50px !important;
}

p{
    font-size:1.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 3rem;
    font-weight:bolder;
    margin: 20px 0px;
    color: black;
    text-decoration:underline;
}

h2{
    font-size: 2.3rem;
    padding-right: 10px;
    text-decoration: underline;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.5rem;
}

header li{
    font-size: 2.5rem;
    list-style-type: none;
    
}

li{
    
    transition: all 1s;
}

li:hover{
    text-decoration: underline;
    
}



label{
    font-size: 1.5rem;
}

input,select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
    margin-top: 6px;
    margin-bottom: 16px;
   
}

input[type=submit] {
    background-color:rgb(244, 183, 64);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

.bigMac{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


    


.header{
    background-color: rgb(244, 183, 64);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.logoHeader-container{
    display: none;
    width: 200px;
}

.logoHeader{
    width: 200px;
    height: 200px;
    left:10px;  
    top:10px;
}


.navBar{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.showMenu{
    display: flex;
}

.botones-container{
    display: none;
    flex-direction: row;
    align-items: center;
}

.botones-mobile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer{
    background-color: #f4b740;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    bottom: 0px;
    border-radius: 100px;
}

.footerIzq,.footerDer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footerInfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    
}

.footerInfo li{
    display: flex;
    flex-direction: row;
    
    gap: 10px;
    align-items: center;
}

.logoFooter-container{
    display: none;
}

.logoFooter{
    width: 200px;
    height: 200px;
    left:10px;
    bottom:20px;
}


.float{
    position: fixed;
    right:20px;
    bottom:20px;
    z-index: 1000;
}

.wpp{
    height:30px;
    width:30px;
    background-color: rgb(21, 225, 21);
    padding:10px;
    border-radius: 50%;
}


.ubicacion{
    width: 35px;
    height: 35px;
}
.gmail, .ig, .fb{
    width: 50px;
    height: 50px;
    padding: 20px;
}

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    gap: 100px;
}

.contactoOscuro .formulario div label{
    color: #f4b740;
}


.inlineBlock{
    padding: 50px;
    margin: 50px;
    display: inline-block;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.trabajos{
    padding: 10px 20px;
    margin: 10px;
    display: block;
}

.trabajos img{
    height: 341.516px;
    width: 206.594;
    padding: 3px;
    border: groove rgb(244, 183, 64) ;
    
}

.trabajos h2{
    text-decoration: underline;
    padding: 10px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fotoInicio{
    margin:20px 0px;
    width:50%;
    height:50%;
    border-radius: 20px;
    border: 5px rgb(244, 183, 64);
}

.textoInicio{
    background-color:  rgb(244, 183, 64);
    border: groove rgb(244, 183, 64) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    gap: 15px;
    margin: 50px;
    padding: 15px;
}
.textoInicio h2{
    text-decoration: underline;
}

.textoInicio p{
    font-size: 1.4rem;
}

.tienda{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.tienda h2{
    text-decoration: underline;
    margin-bottom: 20px;
    display: none;
}


.categoria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}



.producto{
    width: 350px;
    height: 450px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 183, 64);
    
    padding: 20px 0px;
}

.producto h3{
    text-align: center;
}

.container-img{
    width:300px;
    height:300px;
    margin: 10px;
    display: flex;
    justify-content: center;

}

.container-img img{
    width:300px;
    height:300px;
    border-radius: 5px;
}

.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 183, 64);
    border-radius: 10px;
    width: 800px;
    min-height: 300px;
}

.itemCarrito{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.carritoOscuro .carrito, .carritoOscuro .precioTotal h2{
    color:#f4b740 
}
.carritoOscuro .carrito, .carritoOscuro .precioTotal{
    background-color: black;
}

.fotoItemCarrito{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.borrarItemCarrito{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.precioTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(244, 183, 64);
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    width: 800px;
}

.reset{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.confirm{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.add-carrito{
    width: 250px;
    min-height:40px;
    background-color: green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.botonCarrito, .botonDark, .botonCarritoMobile, .botonDarkMobile{
    width: 100px;
    height: 100px;
    cursor: pointer;
}


.flexCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.producto h4{
    text-align: center;

}

.servicios{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.servicios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px 15px;
    background-color: rgb(244, 183, 64);
    width:400px;
    height:700px;
    overflow: auto;
    gap: 15px;
    border-radius: 10px;
}

.servicios div h2{
    text-decoration: underline;

}

.servicios div ul li {
    font-size: 1.3rem;
    margin: 10px 20px;
}

.servicios div img{
    width: 400px;
    height: 400px;
    overflow: hidden;
}


.servicios div h3{
    text-align: center;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}

.serviciosOscuros div{
    background-color: black;
}
.serviciosOscuros div h2, .serviciosOscuros div ul li{
    color: #f4b740;
}

.serviciosOscuros div h3{
    background-color: #f4b740;
    color: black;
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeriaOscura h2{
    color:#f4b740;
}

/*   .swiper {
    width: 70%;
    height: 700px;
    display: flex;
  }

  .swiper-slide {
    font-size: 18px;
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .swiper-slide img {
    object-fit: cover;
    width: 80%;
    
  }


  .swiper {
    margin-left: auto;
    margin-right: auto;
  } */

  html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 90%;
      height: 800px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper{
        --swiper-theme-color: #f4b740;
    }
    

@media screen and (min-width:1200px) {
    .logoHeader-container{
        display: flex;
    }
    .navBar{
        display: flex;
        flex-direction: row;
    }
    .botones-container{
        display: flex;
    }

    .botones-mobile-container{
        display: none;
    }

    .bigMac{
        display: none;
    }
    .header{
        flex-direction: row;
        border-radius: 100px;
    }
    .logoFooter-container{
        display: block;
    }
    
    .categoria{
        
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        
    }

    .contacto{
        flex-direction: row;
    }

    .servicios{
        flex-direction: row;
    }

    .swiper {
        width: 60%;
    }
    .footer{
        flex-direction: row;
    }

    .footerInfo{
        justify-content: center;
    }
    .barraProductos{
        flex-direction: row;
    }


}